body {
    background-color:rgb(193 205 205);
    font-family: 'Staatliches', sans-serif, cursive;
}

.borda {
    border-radius: 100%;
    margin-top: 100px;
}

.button {
    background-color: #11a36a;
    color: white;
    line-height: 10px;
    padding: 8px 10px;
    text-decoration: none;
    font-weight:700;
    font-size: 15px;
    border-radius: 15%;
}

.cordolink {
    text-decoration: none;
    color: #11a36a;
    font-weight: 700;
    font-size: 22px;
    background-color: white;
    float: left;
    width: 50%;
    clear: both;
}

.verdin {
    color:#11a36a;
    font-weight: 700;
    font-size: 20px;  
    
}

.roxo {
    text-decoration: none;
}

.botaoinicial {
    background-color: #11a36a;    
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10%;
}

.position {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 10%;
}